@page
@model Covalition.Cypis.Pages.TasksModel
@using Covalition.Cypis.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Tasks";
    Layout = "_Layout";
}

<h1>Tasks</h1>

[test component:]

<component type="typeof(TestComponent)" render-mode="ServerPrerendered" />

[counter:]

<component type="typeof(Counter)" render-mode="ServerPrerendered" />
