<div class="Header-item Header-item--full">
    <nav class="d-flex">
        <AuthorizeView>
            <Authorized>
                <a class="Header-link py-lg-3 mr-3" href="Identity/Account/Manage">Hello, @context.User.Identity.Name!</a>
                <form method="post" action="Identity/Account/LogOut">
                    <button type="submit" class="btn-link Header-link py-lg-3 mr-3">Log out</button>
                </form>
            </Authorized>
            <NotAuthorized>
                <a class="Header-link py-lg-3 mr-3" href="Identity/Account/Register">Register</a>
                <a class="Header-link py-lg-3 mr-3" href="Identity/Account/Login">Log in</a>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>


