@inherits LayoutComponentBase

<header class="Header" role="banner">
    <div class="Header-item">
        <a class="Header-link" href="">
            [Cypis]
        </a>
    </div>
    <LoginDisplay />
</header>

<div class="wrapper">

    <div class="sidebar col-1 my-3">
        <NavMenu />
    </div>

    <div class="main col-10">
        <div class="content px-4">
            @Body
        </div>
    </div>

</div>    
