<div>
    <nav class="SideNav border" style="min-width: 110px;">
        <NavLink class="SideNav-item" href="" Match="NavLinkMatch.All">
            Home Page
        </NavLink>
        <NavLink class="SideNav-item" href="tasks">
            <span class="oi oi-list-rich" aria-hidden="true"></span>
            Tasks
        </NavLink>
    </nav>
</div>